{% extends 'base.html.twig' %}

{% block title %}À propos - Jobiz{% endblock %}

{% block body %}
<section class="text-gray-700 bg-white body-font">
  <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
    <img
      class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded"
      src="{{ asset('images/logo-jobiz.png') }}"
      alt="Jobiz Logo" />
    <div class="text-center lg:w-2/3 w-full">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">
        À propos
      </h1>
      <p class="leading-relaxed mb-8 text-gray-600">
        Chez Jobiz, nous sommes dédiés à connecter les chercheurs d’emploi avec les opportunités qui correspondent à leurs ambitions.
        Notre mission est de simplifier la recherche d’emploi en offrant une plateforme intuitive pour trouver, postuler et gérer vos candidatures en un seul endroit.
        Que vous soyez en quête de votre premier emploi, d’une nouvelle aventure professionnelle ou simplement curieux des tendances du marché, Jobiz est là pour vous accompagner à chaque étape.
      </p>
    </div>
  </div>
</section>
{% endblock %}
